<!--**********************************
Footer start
***********************************-->
<div class="footer">
  <div class="copyright">
    <p>کپی‌رایت © توسعه یافته توسط <a href="#" target="_blank">موسی امیری مطلق</a> | توسعه‌دهنده سی‌شارپ <span class="current-year">۱۴۰۵</span></p>
  </div>
</div>
<!--**********************************
Footer end
***********************************-->

