@{
	ViewBag.Title = "دسترسی رد شد";
	Layout = "_Layout"; 
}


<section id="error-404" class="error-404 section">

      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="error-wrapper">
          <div class="row align-items-center">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
              <div class="error-illustration">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
                <div class="circle circle-3"></div>
              </div>
            </div>
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-left" data-aos-delay="300">
              <div class="error-content">
                <span class="error-badge aos-init aos-animate " data-aos="zoom-in" data-aos-delay="400">خطا</span>
                <h1 class="error-code aos-init aos-animate pt-5" data-aos="fade-up" data-aos-delay="500">۴۰۳</h1>
                <h2 class="error-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">دسترسی غیرمجاز</h2>
                <p class="error-description aos-init aos-animate" data-aos="fade-up" data-aos-delay="700">
                  شما مجوز لازم برای دسترسی به این صفحه را ندارید. لطفاً در صورت نیاز با مدیر سیستم یا پشتیبانی تماس بگیرید.
                </p>



                <div class="error-actions aos-init aos-animate" data-aos="fade-up" data-aos-delay="800">
                  <a href="/" class="btn-home">
                    <i class="bi bi-house-door"></i>صفحه اصلی 
                  </a>
                  <a href="javascript:history.back()" class="btn-help">
                    <i class="bi bi-question-circle"></i>  برگشتن
                  </a>
                </div>

                <div class="error-suggestions aos-init aos-animate" data-aos="fade-up" data-aos-delay="900">
                  <h3>می‌توانید انجام دهید:</h3>
                  <ul>
                    <li><a href="#"><i class="bi bi-arrow-right-circle"></i> بازبینی نقشه سایت</a></li>
                    <li><a href="#"><i class="bi bi-arrow-right-circle"></i> تماس با پشتیبانی</a></li>
                    <li><a href="#"><i class="bi bi-arrow-right-circle"></i> بازگشت به صفحه قبل</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </section>